{% extends 'base.html.twig' %}

{% block main %}

    <h1>Email: {{ user.email }}</h1>
    <h1>Full Name: {{ user.fullName }}</h1>
    {% if not app.getUser.isAdmin() %}
    <h1>Hero: {% if user.hero == true %}<a class="btn btn-default" href="{{ path('my_hero') }}">View</a>{% else %}<a class="btn btn-default" href="{{ path('hero_create') }}">Create</a> {% endif %}</h1>
    {% endif %}
    <footer>
        <div class="pull-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-success btn-xs" href="{{ path('edit_profile',{id:user.id}) }}">Edit</a>

            {% else %}
                <a class="btn btn-success btn-xs" href="{{ path('edit') }}">Edit &raquo;</a>
            {% endif %}
{#            <a class="btn btn-danger btn-xs" href="{{ path('users_delete',{id: hero.id}) }}">Delite &raquo;</a>#}
            <a class="btn btn-default btn-xs" href="{{ app.request.headers.get('referer') }}">back &raquo;</a>
        </div>
    </footer>
{% endblock %}