{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <div class="row">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{% if type == 'warning' %}warning{% else %}success{% endif %}" id="info">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-md-4">
                <h2>{{ report.attackerId.name }}:</h2>
                <a href="{{ path('hero_view',{id:report.attackerId.id}) }}"><img style="width: 300px; height: 200px" src="{{ report.attackerId.typeId.img }}"></a>
            </div>

            <div class="col-md-4" style="text-align: center; height: 200px">
                <h1 style="margin-top: 100px">VS</h1>
            </div>


            <div class="col-md-4">
                <h2>{{ report.defenderId.name }}:</h2>
                <a href="{{ path('hero_view',{id:report.defenderId.id}) }}"><img style="width: 300px; height: 200px" src="{{ report.defenderId.typeId.img }}"></a>
            </div>



            <table id="reportView" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Rounds</th>
                    <th scope="col">Reviews</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="w3-border-right">1:</th>
                    <td>{{ report.round1 }}</td>
                </tr>
                <tr>
                    <th class="w3-border-right">2:</th>
                    <td>{{ report.round2 }}</td>
                </tr>
                <tr>
                    <th class="w3-border-right">3:</th>
                    <td>{{ report.round3 }}</td>
                </tr>
                <tr>
                    <th class="w3-border-right">4:</th>
                    <td>{{ report.round4 }}</td>
                </tr>
                <tr>
                    <th class="w3-border-right">5:</th>
                    <td>{{ report.round5 }}</td>
                </tr>
                <tr>
                    <th class="w3-border-right">6:</th>
                    <td>{{ report.round6 }}</td>
                </tr>
                <tr>
                    <th class="w3-border-right">7:</th>
                    <td>{{ report.round7 }}</td>
                </tr>
                <tr>
                    <th class="w3-border-right">Winner:</th>
                    <td>{% if report.winner is not null and report.winner == report.attackerId.id %}The winner is {{ report.attackerId.name }}!{% elseif report.winner == report.defenderId.id %}The winner is {{ report.defenderId.name }}!{% else %}There is no winner!{% endif %}</td>
                </tr>

                </tbody>
            </table>

            <footer>
                <div class="pull-left" style="border:1px solid black; padding: 20px; border-radius: 20%; box-shadow: 5px 10px #888888; margin: 50px 0px 0px 35%;">
                    <a class="btn btn-success btn-xs" style="margin-right: 40px" href="{{ path('all_reports') }}">Show All Reports &raquo;</a>
                    <a class="btn btn-default btn-xs" href="{{ app.request.headers.get('referer') }}">Back &raquo;</a>
                </div>
            </footer>
        </div>
    </div>

{% endblock %}

